# Extracting Tables

In [1]:
from docx.api import Document
import pandas as pd
file_path = "../data/hr_handbook.docx"
document = Document(file_path)
document

In [2]:
df = []
for table in document.tables:
    column_names = None
    rows =[]
    for index, row in enumerate(table.rows):
        text = [cell.text for cell in row.cells]
        if (index == 0):
            column_names = text
            column_names = [name.replace('\n', ' ') for name in column_names]
        else:
            rows.append(text)
    temp_df = pd.DataFrame(rows, columns = column_names).replace('\n',' ', regex=True)
    df.append(temp_df)

In [3]:
len(df)

6

In [4]:
df[0]

,Positions,During Probation,Upon Confirmation
0,Senior Associate Director & Above Principle Re...,1 month,3 months
1,Executive to Associate Director; Research Ass...,1 month,1 month

In [5]:
df[1]

              Length of Service*  Annual Leave Entitlement per calendar year
0   Less than 5 years of service                                     21 days
1       5 to 10 years of service                                     24 days
2  More than 10 years of service                                     28 days

In [6]:
df[2]

  Half Day Leave          Working Hours                        Working Hours
0       AM Leave   Mon – Thurs :  Fri :     2.00pm – 6.00pm  2.00pm – 5.30pm
1       PM Leave   Mon – Thurs :  Fri :   8.30am – 12.30pm  8.30am – 12.00pm

In [7]:
df[3]

,No. of children below 12 years old,Mother’s Annual Childcare Leave Eligibility,Father’s Annual Childcare Leave Eligibility
0,1,5 days,5 days
1,2,10 days,10 days
2,3 or more,15 days,15 days

In [8]:
df[4]

,Age Group,Total no. of children below 12 years old,Unconditional Childcare Leave,Childcare Leave With MC,Total Childcare Leave Eligibility for the year
0,Child below 7 years old who is a Singapore Ci...,1,6 days,-,6 days
1,Child below 7 years old who is a Singapore Ci...,2,6 days,4 days,10 days
2,Child below 7 years old who is a Singapore Ci...,3 or more,6 days,9 days,15 days
3,Child between 7 to 12 years old who is a Sing...,1,2 days,3 days,5 days
4,Child between 7 to 12 years old who is a Sing...,2,2 days,8 days,10 days
5,Child between 7 to 12 years old who is a Sing...,3 or more,2 days,13 days,15 days

In [9]:
df[5]

                                  Length of Service     Awards
0                                5 continuous years     S$300
1                               10 continuous years     S$400
2                               15 continuous years     S$500
3                               20 continuous years     S$800
4                               25 continuous years   S$1,200
5                               30 continuous years   S$1,500
6                               35 continuous years   S$1,500
7  40 continuous years and every subsequent 5 yea...  S$2,000

# Extracting Images

In [10]:
import docx2txt
text = docx2txt.process("../data/hr_handbook.docx", '../data/img/')